{% extends "_base.html" %}

{% block content %}
<!-- Header -->
<div class="row spacer"></div>
<!-- Detail Sheet -->
<section class="page-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ derivative }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-left">
        <p><strong>Accounted For:</strong> {{ derivative.accounted_for }}</p>
        <p><strong>Additional Collections:</strong> {{ derivative.additional_collections }}</p>
        <p><strong>Cure Collections:</strong> {{ derivative.cure_collections }}</p>
        <p><strong>Deleted:</strong> {{ derivative.deleted }}</p>
        <p><strong>Harvest Collections:</strong> {{ derivative.harvest_collections }}</p>
        <p><strong>Biotrack ID:</strong> {{ derivative.biotrack_id }}</p>
        <p><strong>Inventory ID:</strong> {{ derivative.inventory_id }}</p>
        <p><strong>Location License:</strong> {{ derivative.location_license }}</p>
        <p><strong>Plant ID:</strong> {{ derivative.plant_id }}</p>
        <p><strong>Room:</strong> {{ derivative.room }}</p>
        <p><strong>Transaction ID:</strong> {{ derivative.transaction_id }}</p>
        <p><strong>Weight:</strong> {{ derivative.weight }}</p>
        <p><strong>Whole Weight:</strong> {{ derivative.whole_weight }}</p>       
       
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p><a href="{% url 'home'%}">Back</p>
      </div>
    </div>
  </section>
{% endblock %}
