{% extends "_base.html" %}

{% block content %}
<!-- Header -->
<div class="row spacer"></div>
<!-- Detail Sheet -->
<section class="page-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ manifest_driver }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-left">
        <p><strong>Name:</strong> {{ manifest_driver.name }}</p>
        <p><strong>Date of Birth:</strong> {{ manifest_driver.dateof_birth }}</p>
        <p><strong>Bio Track ID:</strong> {{ manifest_driver.biotrack_id }}</p>
                                      
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p><a href="{% url 'home'%}">Back</p>
      </div>
    </div>
  </section>
{% endblock %}
