{% extends "_base.html" %}

{% block content %}
<!-- Header -->
<div class="row spacer"></div>
<!-- Detail Sheet -->
<section class="page-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ stop_item }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-left">
        <p><strong>Deleted:</strong> {{ stop_item.deleted }}</p>
        <p><strong>Description:</strong> {{ stop_item.description }}</p>
        <p><strong>Bio Track ID:</strong> {{ stop_item.biotrack_id }}</p>
        <p><strong>Inventory ID:</strong> {{ stop_item.inventory_id }}</p>
        <p><strong>Manifest ID:</strong> {{ stop_item.manifest_id }}</p>
        <p><strong>Quantity:</strong> {{ stop_item.quantity }}</p>
        <p><strong>Quantity Received:</strong> {{ stop_item.quantity_received }}</p>
        <p><strong>Session Time:</strong> {{ stop_item.session_time }}</p>
        <p><strong>Stop Number:</strong> {{ stop_item.stop_number }}</p>
        <p><strong>Transaction ID:</strong> {{ stop_item.transaction_id }}</p>
                                              
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p><a href="{% url 'home'%}">Back</p>
      </div>
    </div>
  </section>
{% endblock %}
