{% extends "_base.html" %}

{% block content %}
<!-- Header -->
<div class="row spacer"></div>
<!-- Detail Sheet -->
<section class="page-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ tt_inventory }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-left">
        <p><strong>Inventory Name:</strong> {{ tt_inventory.inventory_name }}</p> 
        <p><strong>Inventory Type:</strong> {{ tt_inventory.inventory_type }}</p> 
        <p><strong>Location:</strong> {{ tt_inventory.location }}</p> 
        <p><strong>Sublot:</strong> {{ tt_inventory.sublot }}</p> 
        <p><strong>From Row:</strong> {{ tt_inventory.from_row }}</p> 
        <p><strong>To Row:</strong> {{ tt_inventory.to_row }}</p> 
        <p><strong>Deleted:</strong> {{ tt_inventory.deleted }}</p> 
        <p><strong>External ID:</strong> {{ tt_inventory.external_id }}</p> 
        <p><strong>Biotrack ID:</strong> {{ tt_inventory.biotrack_id }}</p> 
        <p><strong>ID Serial:</strong> {{ tt_inventory.id_serial }}</p> 
        <p><strong>Location License:</strong> {{ tt_inventory.location_license }}</p> 
        

        <p><strong>Notes:</strong> {{ tt_inventory.notes }}</p>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p><a href="{% url 'home'%}">Back</p>
      </div>
    </div>
  </section>
{% endblock %}
