{% extends "_base.html" %}

{% block content %}
<!-- Header -->
<div class="row spacer"></div>
<!-- Member Sign Up Forms -->
<section class="page-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Product Batch Selection to Lab Sample</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-left">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <table>
          {{ form.as_p }}
          </table>
          <input type="submit" value="Submit">
        </form>
        <br>
      </div>
    </div>
  </section>
{% endblock %}
