{% extends "_base.html" %}

{% block content %}
<!-- Header -->
<div class="row spacer"></div>
<!-- Detail Sheet -->
<section class="page-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ weight }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-left">
        <p><strong>Amount:</strong> {{ weight.amount }}</p>
        <p><strong>Strain:</strong> {{ weight.strain }}</p>
        <p><strong>UOM:</strong> {{ weight.uom }}</p>
        
       
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p><a href="{% url 'home'%}">Back</p>
      </div>
    </div>
  </section>
{% endblock %}
