{% extends '_base.html' %}
{% block title %}Justice Seed{% endblock title %}

{% block content %}
<div class="container-fluid p-3 bg-secondary text-white">
  <h3 class="text-white">Welcome to Justice Seed</h3>
  {% if user.is_authenticated %}
    Hi {{ user.email }}!
    <a class="btn btn-info mx-1" href="{% url 'account_logout' %}">Log Out</a>
  {% else %}
    <p>You are not logged in.</p>
    <a class="btn btn-info mx-1" href="{% url 'account_login' %}">Log In</a>
  {% endif %}
    <br><br>
    <p>Visit Trichomes Consulting for more info.</p>
    <a class="btn btn-success mx-1" href="www.trichomesconsulting.com">Learn More</a>
</div>


{% endblock content %}
